server/storage/**/*.sqlite
server/storage/**/*.png
server/storage/**/*.jpg
.idea/
node_modules/
vendor/
.env
composer.lock
package-lock.json
yarn.lock
yarn-error.log
public/dist
server/app/Data/Seeds/**/*.sql
